<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">GKFX Project</a>
    </div>
     <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/date-based">Date Based Data Chart</a></li>
        <li routerLinkActive="active"><a routerLink="/candle-stick">Professional Candlesticks</a></li>
      </ul>
     </div>
  </div>
</nav>